<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="logo.png">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">

  <title>Pigment Pointe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel = "stylesheet" type = "text/css" href = "style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class ="body">
  <header class="masthead">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-6">
                  <h1>Pigment Pointe <img class="logo2" src="logo.png" width="30" height="50"></h1>
                 
              </div>
              <div class="col-xs-6">
                  <div class="pull-right hidden-sm">
                  
                  </div>
              </div>
          </div>
      </div>
  </header>
  
  
  <!-- Begin Navbar -->
  <nav id="nav">
      <div class="navbar navbar-default">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">Our Story</a></li>
                  <li><a href="https://preview.c9users.io/maellesannon/commerce/Shop%20Cart%20Free%20Website%20Template%20-%20Free-CSS.com/shop-cart/four-col.html?_c9_id=livepreview2&_c9_host=https://ide.c9.io">Shop</a></li>
               </ul>
              <ul class="nav navbar-right navbar-nav">
                  <li>
                      <form class="navbar-form">
                          <input type="text" class="form-control" placeholder="Search">
  
                          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                      </form>
                  </li>
                  <li>
                      <a href="/shoppingCart"><i class="glyphicon glyphicon-shopping-cart"></i> <span class="badge"></span></a>
                  </li>
              </ul>
          </div>
      </div>
      <!-- /.navbar -->
  </nav>
    </head>
    
<body>
      
  <div>
      <div>
          <div class="tcontainer">
 <center><h2 class= size3>Our Story</h2></center>
</div>
</div>
</div>


<p class = text6>Founder and CEO Chenelle Jones believes that every dancer should have shoes in their skin tone. A dancer herself, Chenelle always noticed that dancers of color were frequently neglected and left out of media, while lighter skinned dancers appeared on stages and t.v. worldwide. She also noticed that no dance company sold shoes for dancers of color, and dance shoes only came in colors for lighter dancers. While in the program Institute for Entrepreneurship, Chenelle created the idea of Pigment Pointe, in order to sell pointe shoes in darker skin tones for girls of color. With her dream launched, Chenelle plans to sell pointe shoes in more shades as well as increase her inventory to ballet slippers and shoes for men.

</p>
<div>
  
</body>



 
  <footer>
      <div>
    <div class="container">
      <div class="row">
          <div>
        <div class="col-md-4 col-sm-6 footerleft ">
          <div class="logofooter"> <img class="logo3" src="logo3.png" width="30" height="50"></div>
          <p></p>
          <p><i class="fa fa-map-pin"></i> 31 Washington Pl, New York, NY 10003</p>
          <p><i class="fa fa-phone"></i> Phone (USA) : +91 9999 878 398</p>
          <p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>
          
        </div>
        <div class="col-md-2 col-sm-6 paddingtop-bottom">
          <h6 class="heading7">GENERAL LINKS</h6>
          <ul class="footer-ul">
             <li><a href="/contact-us"> Contact Us</a></li>
            <li><a href="/private-policy"> Private Policy</a></li>
            <li><a href="/terms-&-conditions"> Terms & Conditions</a></li>
            <li><a href="/size-chart"> Size Chart</a></li>
            <li><a href="/order-status"> Order Status</a></li>
            <li><a href="/shipping"> Shipping</a></li>
            <li><a href="/frequently-asked-questions"> Frequently Asked Questions</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 paddingtop-bottom">
         
          <a href= "https://www.instagram.com/instagram"><img class ="socials" src   = "InstagramLogo.png" width="50px" height="40px"></img></a>
          <left >
        <a href = "https://www.facebook.com/"><img class ="socials" src= "FacebookLogo.png" width="50px" height="40px"></img></a>
        <div class="col-md-3 col-sm-6 paddingtop-bottom">
          <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <div class="fb-xfbml-parse-ignore">
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--footer start from here-->
  
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - All Rights with PigmentPointe <img class="logo3" src="logo3.png" width="20" height="30"></p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">
          <li><a href="#">Idk.com</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Faq's</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
        </body>
      </div>
    </div>
  </div>
  </div>
</body>
</html>