<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel = "stylesheet" type = "text/css" href = "style.css"/>
    <link rel="icon" href="logo.png">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">

  <title>Pigment Pointe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel = "stylesheet" type = "text/css" href = "style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


           <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */
        
    </style>

</head>

<body>


     <header class="masthead">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-6">
                  <h1>Pigment Pointe <img class="logo2" src="logo.png" width="30" height="50"></h1>
                 
              </div>
              <div class="col-xs-6">
                  <div class="pull-right hidden-sm">
                  
                  </div>
              </div>
          </div>
      </div>
  </header>
  
  
  <!-- Begin Navbar -->
  <nav id="nav">
      <div class="navbar navbar-default">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/women">Women</a></li>
                  <li><a href="/men">Men</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Our Story</a></li>
              </ul>
              <ul class="nav navbar-right navbar-nav">
                  <li>
                      <form class="navbar-form">
                          <input type="text" class="form-control" placeholder="Search">
  
                          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                      </form>
                  </li>
                  <li>
                      <a href="/shoppingCart"><i class="glyphicon glyphicon-shopping-cart"></i> <span class="badge"></span></a>
                  </li>
              </ul>
          </div>
      </div>
      <!-- /.navbar -->
  </nav>
   

    <main>

        <!--Main layout-->
        <div class="container">
            <div class="row">

                <!--Sidebar-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

                    <div class="widget-wrapper">
                        <h4>Categories:</h4>
                        <br>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">Woman</a>
                            <a href="#" class="list-group-item">Man</a>
                            <a href="#" class="list-group-item">Shoes</a>
                            <a href="#" class="list-group-item">T-shirt</a>
                            <a href="#" class="list-group-item">Jewellery</a>
                        </div>
                    </div>

                    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
                        <h4>Subscription form:</h4>
                        <br>
                        <div class="card">
                            <div class="card-block">
                                <p><strong>Subscribe to our newsletter</strong></p>
                                <p>Once a week we will send you a summary of the most useful news</p>
                                <div class="md-form">
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="form1" class="form-control">
                                    <label for="form1">Your name</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2">Your email</label>
                                </div>
                                <button class="btn btn-primary">Submit</button>

                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Sidebar-->

                <!--Main column-->
                <div class="col-lg-8">

                    <!--First row-->
                    <div class="row wow fadeIn" data-wow-delay="0.4s">
                        <div class="col-md-12">
                            <!--Product-->
                            <div class="product-wrapper">

                                <!--Featured image-->
                                <div class="view overlay hm-white-light z-depth-1-half">
                                    <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(109).jpg" class="img-fluid " alt="">
                                    <div class="mask">
                                    </div>
                                    <h3 class="price"><span class="badge red darken-2">84.7 $</span></h3>
                                </div>
                                <!--/.Featured image-->

                                <br>

                                <!--Product data-->
                                <h2 class="h2-responsive">Pointe Shoes</h2>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius totam, officiis doloremque velit nobis dolor nulla unde architecto alias praesentium, soluta error omnis sint, impedit, delectus ipsam eveniet debitis nemo.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius totam, officiis doloremque velit nobis dolor nulla unde architecto alias praesentium, soluta error omnis sint, impedit, delectus ipsam eveniet debitis nemo.</p>

                                <ul class="rating inline-ul">
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>

                            </div>
                            <!--Product-->

                        </div>
                    </div>
                    <!--/.First row-->

                    <!--Second row-->
                    <div class="row">
                        
                        <!--Heading-->
                            <div class="col reviews wow fadeIn" data-wow-delay="0.4s">
                                <h2 class="h2-responsive">Reviews</h2>
                            </div>

                        <!--First review-->
                        <div class="media wow fadeIn" data-wow-delay="0.2s">
                            <a class="media-left" href="#">
                                <img class="rounded-circle" src="http://mdbootstrap.com/img//Photos/Avatars/avatar-7.jpg" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <ul class="rating inline-ul">
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
                            </div>
                        </div>

                        <!--Second review-->
                        <br><div class="media wow fadeIn" data-wow-delay="0.2s">
                            <a class="media-left" href="#">
                                <img class="rounded-circle" src="http://mdbootstrap.com/img//Photos/Avatars/avatar-5.jpg" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Maria Casie</h4>
                                <ul class="rating inline-ul">
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                </ul>
                                <p>I love these shoes!!!!!</p>
                            </div>
                        </div>

                        <!--Second review-->
                        <br><div class="media wow fadeIn" data-wow-delay="0.2s">
                            <a class="media-left" href="#">
                                <img class="rounded-circle" src="http://mdbootstrap.com/img//Photos/Avatars/avatar-10.jpg" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Kate Snow</h4>
                                <ul class="rating inline-ul">
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
                            </div>
                        </div>

                    </div>
                    <!--/.Second row-->

                </div>
                <!--/.Main column-->

            </div>
        </div>
        <!--/.Main layout-->

    </main>

   
   <footer>
      <div>
    <div class="container">
      <div class="row">
          <div>
        <div class="col-md-4 col-sm-6 footerleft ">
          <div class="logofooter"> <img class="logo3" src="logo3.png" width="30" height="50"></div>
          <p>.</p>
          <p><i class="fa fa-map-pin"></i> 31 Washington Pl, New York, NY 10003</p>
          <p><i class="fa fa-phone"></i> Phone (USA) : +91 9999 878 398</p>
          <p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>
          
        </div>
        <div class="col-md-2 col-sm-6 paddingtop-bottom">
          <h6 class="heading7">GENERAL LINKS</h6>
          <ul class="footer-ul">
             <li><a href="/contact-us"> Contact Us</a></li>
            <li><a href="/private-policy"> Private Policy</a></li>
            <li><a href="/terms-&-conditions"> Terms & Conditions</a></li>
            <li><a href="/size-chart"> Size Chart</a></li>
            <li><a href="/order-status"> Order Status</a></li>
            <li><a href="/shipping"> Shipping</a></li>
            <li><a href="/faqs"> Frequently Asked Questions</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 paddingtop-bottom">
          <h6 class="heading7">FOLLOW US</h6>
          <a href= "https://www.instagram.com/instagram"><img class ="socials" src   = "InstagramLogo.png" width="50px" height="40px"></img></a>
          <left >
        <a href = "https://www.facebook.com/"><img class ="socials" src= "FacebookLogo.png" width="50px" height="40px"></img></a>
        <div class="col-md-3 col-sm-6 paddingtop-bottom">
          <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <div class="fb-xfbml-parse-ignore">
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--footer start from here-->
  
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - All Rights with PigmentPointe <img class="logo3" src="logo3.png" width="20" height="30"></p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">
          <li><a href="#">Idk.com</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Faq's</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
        </body>
      </div>
    </div>
  </div>
  </div>
</body>

</html>