.body{
    
    background-color:#ffffff;

}



footer { background-color:	#000000; min-height:350px; font-family: 'Alegreya', serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
 

 
 .ballerina{
     
      padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 225px;
     
 
    position: relative;
    float: left;
    width:  515px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
     
 }
 
 .navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.glyphicon-glyphicon-search{
    text-align: right;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
max-width:1540px;
  height:760px;
}

navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: black;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav .navbar-right > .active > a, .navbar-default .navbar-nav  .navbar-right> .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: black;
}

.navbar-default .navbar-nav>.active>a {
    background-color: black;
    color: white;
}

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }


.navbar-default{
    border: none;
    background-color: black; 
}
 h1{
font-family: 'Cinzel', serif;
     
 }
 
 
 p{
     font-family: 'Playfair Display', serif;
 }
 
 
 
 #parent {
    width: 1000px;
}

.image {
    
    float: left;
    width: 250px;

}

.socials{
        padding-right: 10px;

     
    
}

.logo2{
    padding-right: 70px;
    
}


.size{
   margin: auto;
    width: 50%;

      padding-top: 100px;
         padding-bottom: 100px;
    
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 90px;
}

.footerleft{
    height: 450px;
    
}

.size2{
font-family: 'Dancing Script', cursive;

}

.heading6{
       padding-left: 20px;
}

 main {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
        
        .widget-wrapper {
            padding-bottom: 2rem;
            border-bottom: 1px solid #e0e0e0;
            margin-bottom: 2rem;
        }
         
        .reviews {
            text-align: center;
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        
        .price {
            position: absolute;
            left: 0;
            top: 0;
            margin-top: -2px;
        }
        
        .price .tag {
            margin: 0;
        }

        
        footer.page-footer {
            background-color: #676b74;
            margin-top: 2rem;
        }
        
        
        .text{
             text-indent: 50px;
               padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
     font-size: 100%;
        }
        
        .text2{
            text-indent: 50px;
             
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
        padding-top: 30px;
     font-size: 100%;
        }
        
        .text3{
           font-size: 100%; 
              padding-bottom: 20px;
              padding-top: 30px;
        }
        
        .email{
                padding-bottom: 100px;
                font-size: 125%
                
            
        }
        
        .text4{
            font-family: 'Playfair Display', serif;
             padding-bottom: 200px;

        }
        
        .siz{
            font-family: 'Dancing Script', cursive;
             padding-top: 70px;

        }
        
         .text5{
           font-size: 100%; 
              padding-bottom: 200px;
              padding-top: 30px;
        }
        
        
 .text6{
             text-indent: 50px;
               padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 200px;
    padding-left: 30px;
     font-size: 125%;
        }
        
        .size3{
            padding-top: 100px;
font-family: 'Dancing Script', cursive;


}


.text7{
             text-indent: 50px;
               padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
     font: 100%;
        }
        
        
        .size3{
            padding-top: 100px;
font-family: 'Dancing Script', cursive;


}

.text8{
           font-size: 100%; 
              padding-bottom: 200px;
              padding-top: 30px;
              
        }
        
        .text9{
           font-size: 100%; 
             
              padding-top: 50px;
        }
        
        
       